# frontend
frontend/enre-marker/**/node_modules
frontend/enre-marker/**/dist
frontend/enre-marker/publish
.DS_Store

# backend
backend/enre-marker/.idea
backend/enre-marker/**/__pycache__
backend/enre-marker/**/**.sqlite3
